{%extends "base.html"%}
{%block title%}Diário{%endblock%}
{%block content%}
<div id="main-content">
    <form action="" method="post" >
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="title">Título</label>
            {{form.title(class="form-control")}}
            <label for="content">Conteúdo</label>
            {{form.content(class="form-control",rows="4")}}
            {{form.submit(class="form-control btn")}}
        </div>
    </form>
    {%if posts%}
    {%for post in posts[::-1]%}
    <article class="post">
        <div class="title">
            <h4>{{post.title}}</h4>
            <div class="post-sidebar">
                <time>{{post.date.day}}/{{post.date.month}}/{{post.date.year}}</time>
                <form action="{{url_for('delete_post', id=post.id)}}" method="post">
                    <button type="submit" class="btn btn-black"><i class="fas fa-trash"></i></button>
                </form>
            </div>
        </div>
        <div class="content">
            <p>{{post.content}}</p>
        </div>
    </article>
    {%endfor%}
    {%endif%}
</div>
{%endblock%}